.progress-ring {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    
    font-weight: 800;

    position: relative;
    z-index: 2; 
}


.progress-ring::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #f1f5f9;
    
}


.progress-ring::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    

    background: conic-gradient(
        var(--ring-color) 0deg var(--progress-value),
        transparent var(--progress-value) 360deg
    );
    

    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    
    
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
}


.progress-ring:not([data-animated="true"])::after {
    transform: scale(0);
}



.reveal-fade-in,
.reveal-slide-up {
    opacity: 0;
    visibility: hidden;
  
    transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1), transform 0.8s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: var(--reveal-delay, 0ms);
}

.reveal-slide-up {
    transform: translateY(50px);
}

.reveal-fade-in.is-visible,
.reveal-slide-up.is-visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    
}


#main-header.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 50;
}
